<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel='shortcut icon' type='image/x-icon' href="~/favicon.ico">
    <!-- BEGIN: CSS Assets-->
    <link href="~/dist/css/app.css" rel="stylesheet" />
    <!-- END: CSS Assets-->
    
</head>
<body class="app">
    @RenderBody()

    <script src="~/dist/js/app.js"></script>
</body>
</html>
