@using System.Web.UI.WebControls;
@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "GridViewPartial_ArchivoRecaudacionDet";
        settings.CallbackRouteValues = new { Controller = "ArchivoRecaudacion", Action = "GridViewPartial_ArchivoRecaudacionDet" };
        settings.KeyFieldName = "Secuencia";
        settings.Width = Unit.Percentage(100);
        settings.SettingsEditing.Mode = GridViewEditingMode.EditFormAndDisplayRow;
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "ArchivoRecaudacion", Action = "EditingUpdate", Area = "Banco" };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "ArchivoRecaudacion", Action = "EditingDelete", Area = "Banco" };

        //Configuración para que la grilla no muestre texto completo
        settings.SettingsBehavior.AllowEllipsisInText = true;
        settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Control;

        settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowNewButton = false;
        settings.CommandColumn.ShowEditButton = true;
        settings.CommandColumn.ShowDeleteButton = true;
        settings.CommandColumn.ShowNewButtonInHeader = false;

        settings.SettingsContextMenu.Enabled = false;
        settings.SettingsBehavior.EnableCustomizationWindow = true;


        settings.Settings.ShowFooter = true;
        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = false;
        settings.SettingsBehavior.AllowSelectByRowClick = true;

        //Configuracion responsive
        settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCellsWindowLimit;
        settings.SettingsAdaptivity.AdaptiveColumnPosition = GridViewAdaptiveColumnPosition.Right;
        settings.SettingsAdaptivity.AdaptiveDetailColumnCount = 1;
        settings.SettingsAdaptivity.AllowOnlyOneAdaptiveDetailExpanded = false;
        settings.SettingsAdaptivity.HideDataCellsAtWindowInnerWidth = 500;
        //Funcion para inicializar fila al presionar nuevo


        settings.Columns.Add("CodigoAlumno", "ID").Width = Unit.Percentage(10);
        settings.Columns.Add(column =>
        {
            column.EditFormSettings.Visible = DefaultBoolean.False;
            column.Width = Unit.Percentage(50);
            column.FieldName = "pe_nombreCompleto";
            column.Caption = "Alumno";
        });
        settings.Columns.Add(column =>
        {
            column.Width = Unit.Percentage(10);
            column.FieldName = "Valor";
            column.Caption = "Valor";
            column.PropertiesEdit.DisplayFormatString = "{0:N2}";
        });
        settings.Columns.Add(column =>
        {
            column.Width = Unit.Percentage(10);
            column.FieldName = "ValorProntoPago";
            column.Caption = "Valor Pronto Pago";
            column.PropertiesEdit.DisplayFormatString = "{0:N2}";
        });
        settings.Columns.Add(column =>
        {
            //column.SetDataItemTemplateContent(c =>
            //{
            //    ViewContext.Writer.Write("<span class=\"glyphicon  glyphicon-print\" onclick=\"OpenInNewTabWinBrowser('" + Url.Action("CXP_004", "CuentasPorPagarReportes", new { Area = "Reportes", IdEmpresa = DataBinder.Eval(c.DataItem, "IdEmpresa").ToString(), IdOrdenPago = DataBinder.Eval(c.DataItem, "IdOrdenPago").ToString() }, Request.Url.Scheme) + "');\"></span>");
            //});
            column.Width = Unit.Percentage(5);
        });
        settings.ClientSideEvents.BeginCallback = "function(s, e) { e.customArgs['TransaccionFixed'] = $('#IdTransaccionSession').val(); }";
        settings.ClientSideEvents.EndCallback = "function(s,e){ GetValor(); }";
    });
}
@grid.Bind(Model).GetHtml()