@using System.Web.UI.WebControls;
@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "GridViewPartial_MatriculaCalificacionParcialImportacion";
        settings.CallbackRouteValues = new { Controller = "MatriculaCalificacionParcial", Action = "GridViewPartial_MatriculaCalificacionParcialImportacion" };
        settings.Width = Unit.Percentage(100);
        settings.KeyFieldName = "IdMatricula";
        //Configuración para que la grilla no muestre texto completo
        settings.SettingsBehavior.AllowEllipsisInText = true;
        settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.NextColumn;

        //Configuracion responsive
        settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCellsWindowLimit;
        settings.SettingsAdaptivity.AdaptiveColumnPosition = GridViewAdaptiveColumnPosition.Right;
        settings.SettingsAdaptivity.AdaptiveDetailColumnCount = 1;
        settings.SettingsAdaptivity.AllowOnlyOneAdaptiveDetailExpanded = false;
        settings.SettingsAdaptivity.HideDataCellsAtWindowInnerWidth = 500;

        //Configuración click derecho
        settings.SettingsContextMenu.Enabled = true;
        settings.SettingsBehavior.EnableCustomizationWindow = true;
        settings.SettingsContextMenu.EnableRowMenu = DefaultBoolean.False;

        //Configuración scrolling y pager
        settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Visible;
        settings.Settings.VerticalScrollBarMode = ScrollBarMode.Visible;
        settings.Settings.VerticalScrollableHeight = 400;
        settings.SettingsPager.PageSize = 10;
        settings.SettingsPager.Visible = true;
        settings.SettingsPager.Mode = GridViewPagerMode.ShowPager;
        settings.SettingsPager.AlwaysShowPager = true;

        //Configuración filtro por columna
        settings.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        settings.Settings.ShowFilterRow = true;
        settings.Settings.ShowHeaderFilterButton = true;
        settings.SettingsBehavior.AllowSelectByRowClick = true;
        //Configuracion exportacion
        settings.SettingsExport.EnableClientSideExportAPI = true;
        settings.SettingsExport.ExcelExportMode = DevExpress.Export.ExportType.WYSIWYG;
        settings.Toolbars.Add(t =>
        {
            t.EnableAdaptivity = true;
            //t.Items.Add(GridViewToolbarCommand.ExportToPdf).Text = "Exportar a PDF";
            t.Items.Add(GridViewToolbarCommand.ExportToXls).Text = "Exportar a XLS";
            t.Items.Add(GridViewToolbarCommand.ExportToXlsx).Text = "Exportar a XLSX";
            //t.Items.Add(GridViewToolbarCommand.ExportToDocx).Text = "Exportar a DOCX";
            //t.Items.Add(GridViewToolbarCommand.ExportToRtf).Text = "Exportar a RTF";
            //t.Items.Add(GridViewToolbarCommand.ExportToCsv).Text = "Exportar a CSV";
        });
        settings.SettingsExport.RenderBrick = (sender, e) =>
        {
            if (e.RowType == GridViewRowType.Data && e.VisibleIndex % 2 == 0)
                e.BrickStyle.BackColor = System.Drawing.Color.FromArgb(0xEE, 0xEE, 0xEE);
        };
        //settings.HtmlRowPrepared = (s, e) =>
        //{
        //    if (Convert.ToBoolean(e.GetValue("RegistroValido")) == false)
        //    {
        //        e.Row.ForeColor = System.Drawing.Color.Red;
        //    }
        //};
        settings.Columns.Add(column =>
        {
            column.Caption = "";
            column.SetDataItemTemplateContent(tc =>
            {
                if (Convert.ToBoolean(DataBinder.Eval(tc.DataItem, "RegistroValido")) == false)
                {
                    ViewContext.Writer.Write("<span class=\"glyphicon glyphicon-remove-circle\" style=\"color: red\"></span>");
                }
                else
                {
                    ViewContext.Writer.Write("<span class=\"glyphicon glyphicon-ok-circle\" style=\"color: green\"></span>");
                }
            });
            column.VisibleIndex = 1;
            column.Width = 40;
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "IdMatricula";
            column.Caption = "IdMatricula";
            column.Width = 120;
            column.VisibleIndex = 1;
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "pe_nombreCompleto";
            column.Caption = "Alumno";
            column.Width = 280;
            column.VisibleIndex = 2;
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Calificacion1";
            column.Caption = "TAI";
            column.Width = 90;
            column.VisibleIndex = 3;
            column.EditorProperties().SpinEdit(q =>
            {
                q.MinValue = 0;
                q.DisplayFormatString = "{0:n2}";
                q.Width = Unit.Percentage(100);
                q.AllowMouseWheel = false;
            });
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Calificacion2";
            column.Caption = "AIC";
            column.Width = 90;
            column.VisibleIndex = 4;
            column.EditorProperties().SpinEdit(q =>
            {
                q.MinValue = 0;
                q.DisplayFormatString = "{0:n2}";
                q.Width = Unit.Percentage(100);
                q.AllowMouseWheel = false;
            });
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Calificacion3";
            column.Caption = "AGC";
            column.Width = 90;
            column.VisibleIndex = 5;
            column.EditorProperties().SpinEdit(q =>
            {
                q.MinValue = 0;
                q.DisplayFormatString = "{0:n2}";
                q.Width = Unit.Percentage(100);
                q.AllowMouseWheel = false;
            });
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Calificacion4";
            column.Caption = "LEC";
            column.Width = 90;
            column.VisibleIndex = 6;
            column.EditorProperties().SpinEdit(q =>
            {
                q.MinValue = 0;
                q.DisplayFormatString = "{0:n2}";
                q.Width = Unit.Percentage(100);
                q.AllowMouseWheel = false;
            });
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Evaluacion";
            column.Caption = "Evaluación";
            column.Width = 110;
            column.VisibleIndex = 7;
            column.EditorProperties().SpinEdit(q =>
            {
                q.MinValue = 0;
                q.DisplayFormatString = "{0:n2}";
                q.Width = Unit.Percentage(100);
                q.AllowMouseWheel = false;
            });
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Remedial1";
            column.Caption = "Remedial 1";
            column.Width = 110;
            column.VisibleIndex = 8;
            column.EditorProperties().SpinEdit(q =>
            {
                q.MinValue = 0;
                q.DisplayFormatString = "{0:n2}";
                q.Width = Unit.Percentage(100);
                q.AllowMouseWheel = false;
            });
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Remedial2";
            column.Caption = "Remedial 2";
            column.Width = 110;
            column.VisibleIndex = 9;
            column.EditorProperties().SpinEdit(q =>
            {
                q.MinValue = 0;
                q.DisplayFormatString = "{0:n2}";
                q.Width = Unit.Percentage(100);
                q.AllowMouseWheel = false;
            });
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Conducta";
            column.Caption = "Conducta";
            column.Width = 100;
            column.EditorProperties().ComboBox(p =>
            {
                p.Columns.Add("Letra", "Conducta").Width = Unit.Percentage(100);
                p.TextField = "Letra";
                p.ValueField = "Secuencia";
                p.ValueType = typeof(int);
                p.DataSource = ViewBag.lst_conducta;
            });
            column.VisibleIndex = 10;
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "MotivoCalificacion";
            column.Caption = "Motivo Calificacion";
            column.Width = 250;
            column.VisibleIndex = 11;
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "AccionRemedial";
            column.Caption = "Acción Remedial";
            column.Width = 250;
            column.VisibleIndex = 12;
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "MotivoConducta";
            column.Caption = "Motivo Conducta";
            column.Width = 250;
            column.VisibleIndex = 13;
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "PromedioParcial";
            column.Caption = "Promedio";
            column.Width = 100;
            column.PropertiesEdit.DisplayFormatString = "{0:n2}";
            column.VisibleIndex = 14;
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "IdCatalogoParcial";
            column.Caption = "Parcial";
            column.Width = 100;
            column.VisibleIndex = 15;
            column.Visible = true;
            column.ReadOnly = true;
            column.EditFormSettings.Visible = DefaultBoolean.False;
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "IdMateria";
            column.Caption = "Materia";
            column.Width = 100;
            column.VisibleIndex = 16;
            column.Visible = true;
            column.ReadOnly = true;
            column.EditFormSettings.Visible = DefaultBoolean.False;
        });
        settings.ClientSideEvents.BeginCallback = "function(s, e) { e.customArgs['TransaccionFixed'] = $('#IdTransaccionSession').val(); }";
        settings.ClientSideEvents.EndCallback = "function(s,e){if (s.IsEditing()) {} }";
    });
}
@grid.Bind(Model).GetHtml()