@model Core.Info.CuentasPorCobrar.cxc_Pagare_Info
@{
    ViewBag.Title = "Pagaré";
    if (string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Areas/Reportes/Views/Shared/_LayoutConsulta.cshtml";
}
@using (Html.BeginForm("CXC_016", "CuentasPorCobrarReportes", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa, new { @id = "IdEmpresa" })

    <div class="box">
        <div class="box-body">
            @Html.DevExpress().WebDocumentViewer(settings =>
               {
                   settings.ClientSideEvents.Init = "function(s, e) {s.previewModel.reportPreview.zoom(1);}";
                   settings.MobileMode = false;
                   settings.Name = "webDocumentViewer";
               }).Bind(ViewBag.Report).GetHtml()
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            [@Core.Web.Helps.SessionFixed.IdEmpresa] @Core.Web.Helps.SessionFixed.NomEmpresa
        </div>
        <!-- /.box-footer-->
    </div>
}

